html, body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
  }
  
  body {
    overflow: hidden;
    height: inherit;
  }

  p {
    padding: 0px;
    margin: 0px;
  }
  
  .debug {
    position: absolute;
    padding: 15px;
    color: white;
  }